<div class='container-fluid, mat-app-background'>
    <md-toolbar color="primary">
        <span>Well Architected Services</span>
    </md-toolbar>
    <md-sidenav-container class="main-area">
        <md-sidenav>
            <!-- sidenav content -->
        </md-sidenav>    
    <!-- primary content -->
            <router-outlet></router-outlet>
    </md-sidenav-container>
    <!-- <div class='row'>
        <div class='body-content'>
            <router-outlet></router-outlet>
        </div>
    </div> -->
</div>
