
.main-area {
    padding: 0.5%;
}

.services-area {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.service-card {
    max-width: 500px;
    margin: 5px;
}

.service-cell {
    display: flex;
    justify-content: center
}