<div class="main-area">
    <div>
        <md-table #table [dataSource]="servicesDataSource">
            <ng-container cdkColumnDef="name">
                <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="observable">
                <md-header-cell *cdkHeaderCellDef> Observable </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.observable}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="apiFirst">
                <md-header-cell *cdkHeaderCellDef> API First </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.apiFirst}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="ciCdSupport">
                <md-header-cell *cdkHeaderCellDef> CI/CD Support </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="tested">
                <md-header-cell *cdkHeaderCellDef> Tested </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="wellDesignedDeveloped">
                <md-header-cell *cdkHeaderCellDef> Well designed & developed </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="measured">
                <md-header-cell *cdkHeaderCellDef> Measured </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="secured">
                <md-header-cell *cdkHeaderCellDef> Secured </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="ecoSystemMember">
                <md-header-cell *cdkHeaderCellDef> Eco system member </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="multiTenantSupport">
                <md-header-cell *cdkHeaderCellDef> Multi tenant support </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="scalable">
                <md-header-cell *cdkHeaderCellDef> Scalable </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="resilient">
                <md-header-cell *cdkHeaderCellDef> Resilient </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="knowledge">
                <md-header-cell *cdkHeaderCellDef> Knowledge </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="mastery">
                <md-header-cell *cdkHeaderCellDef> Mastery </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="devEcoSys">
                <md-header-cell *cdkHeaderCellDef> Dev eco system </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
            
            <ng-container cdkColumnDef="wellSeparated">
                <md-header-cell *cdkHeaderCellDef> Well separated </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ciCdSupport}} </md-cell>
            </ng-container>
        
            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>
    <!-- <div class="services-area">
        <md-card class="service-card" *ngFor="let service of services">
            <md-card-header>
                <md-card-title>{{service.name}}</md-card-title>
            </md-card-header>
            <md-card-content>
            </md-card-content>
        </md-card>
    </div> -->
</div>